<app-navbar></app-navbar>
<h1 >To-do List</h1>

  <div>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row g-3">
            
                <div class="yoi" *ngFor="let k of data" >
                    <div   class="box bg-secondary m-2 todo  ">
                
                   <div class="checkbox"  >                        <input type="checkbox" #check [checked]="k.completed" [disabled]="k.completed" (click)="newfunction(k.completed,check)">

                   </div>
                  <div class="desc  " > id: {{k.id}} <br>  userId: {{k.userId}} <br>To Do: {{k.title}}
                  </div>
            
                  </div>
            </div>
            </div>
        </div>
    </div>
</div>